body {
    font-family: 'Ubuntu', sans-serif;
}
section {
    height: 500px;
    padding-bottom: 150px;
}
h1 {
    font-size:50px;
}
h2 {
    font-size: 40px;
    color: rgb(77, 1, 77);
}
h3 {
    font-size: 20px;
    font-weight: 700;
}
p {
    color: rgb(34, 31, 31);
}
.bottom-mid-section {
    background-color: rgb(226, 231, 236);
}
.bottom-section {
    background-color: rgb(226, 231, 236);
    padding-top: 200px;
    height: 500px;
}
.semi-box {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.semi-box img {
    width: 100%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg,rgb(216, 27, 137), rgb(250, 82, 250));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}
.sub-head {
    text-align: justify;
    margin-bottom: 50px;
}
.project {
    padding-top: 100px;
    text-align: center;
}
.project-box {
    width: 27%;
    float: left;
    margin-left: 4%;
    padding-left: 1%;
    padding-right: 1%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 80%;
    background-color: white;
    text-align: justify;

}
.service-box {
    width: 27%;
    float: left;
    margin-left: 3%;
    padding-left: 1%;
    padding-right: 1%;
    box-shadow: 10px 10px 40px rgb(48, 35, 35);
    border-radius: 10px;
    height: 300px;
    background-color: white;
    text-align: justify;

}
.service-box h3 {
    text-align: center;
    padding-top: 40px;
    color: rgb(231, 8, 8);
}
.service-box h5 {
    text-align: center;
    color: rgb(134, 13, 233);
}
.project-box img {
    width: 100%;
    padding-top: 5px;
}
.box-one {
    margin-left: 6%;
}
.box-two {
    margin-left: 2%;
}
.box-three {
    margin-left: 2%;
}
.services {
    padding-top: 100px;
    text-align: center;
}
.work {
    background-image: url(image/work-bg.png);
    width: 60%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20%;
}
.work-child {
    width: 50%;
    height: 100%;
    float: left;
}
.work-h {
    padding-top: 40px;
    text-align: center;
    color:snow;
}
.chat-btn{
    padding-top: 90px;
    text-align: center;
}
.connected {
    text-align: center;
    color: rgb(34, 32, 32);
    margin-top: 150px;
}
.connected img {
    width: 50px;
    height: 50px;
    margin:5px 10px;
}
#greeting {
    color: rgb(29, 223, 11);
}
#name {
    color:  rgb(223, 11, 39);
}
#latest {
    color: rgb(206, 87, 7);
}